@using PagedList.Mvc
@using UserSystem.Data.Models
@model PagedList.IPagedList<UserSystem.Web.ViewModels.Users.UserConciseViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="pull-left">@ViewBag.Title</h2>
    </div>
</div>

<hr />

<div class="row">
    @foreach (var user in Model)
    {
        <div class="col-md-4 col-sm-6">
            <div class="user-result-box table-holder">
                <div class="user-result cell">
                    <span class="user-place">#@user.Id</span>
                </div>
                <div class="user-details cell">
                    <span class="user-wrap">
                        <span class="user-avatar">
                            <img src="@Url.Content(user.PhotoUrl)" alt="@(user.Username) avatar" />
                        </span>
                        <span class="cell">
                            <a href="@Url.Action("Profile", "Users", new { area = string.Empty, id = user.Id })" class="user-name">@user.Username</a>
                            @if (user.Status == Status.Active)
                            {
                                <span class="label label-primary">@user.Status</span>
                            }
                            else
                            {
                                <span class="label label-danger">@user.Status</span>
                            }
                        </span>
                    </span>
                </div>
            </div>
        </div>
    }


</div>

<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>

